@using Data
@model IEnumerable<Assignment>

<div class="col-md-offset-3 col-md-6 well">
    <input type="text" class="form-control" placeholder="Add Task" id="assignment" name="assignment" />
    <button class="btn-primary" id="addTask">Add Task</button>
</div>

<input type="hidden" id="userEmail" value="@User.Identity.Name" />
<div class="col-md-offset-3 col-md-6 well">
    <table class="table table-bordered table-striped" id="table">
        <tr>
            <th>Title</th>
            <th>Status</th>
        </tr>
        @if (Model != null)
        {
            foreach (Assignment a in Model)
            {
                <tr id="task-@a.Id">
                    <td>@a.Task</td>
                    @if (a.User == null)
                    {
                        <td><button class="btn-success accept" data-task-id="@a.Id">I'll take this one</button></td>
                    }
                    else
                    {
                        if (a.User.Email == User.Identity.Name)
                        {
                            <td><button class="btn-warning done" data-task-id="@a.Id">I'm done!</button></td>
                        }
                        else
                        {
                            <td><button class="btn-warning" disabled>@a.User.Name is doing this</button></td>
                        }
                    }
                </tr>
            }
        }
    </table>
</div>

@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js"></script>
    <script src="~/js/index.js"></script>
}
